---
// imports
import "bootstrap/dist/css/bootstrap.min.css";
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url";

// Component Imports
import MainHead from '../components/MainHead.astro';
import Navbar from '../components/Navbar.astro';
import Particles from '../components/Particles.astro';

// Constants
const { title = 'Exploration Lab' } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead />
		<script is:inline id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
	</head>
	<body>
		<div id="particles-js">
			<div id="particles">
				<div class="container">
					<div id="homepage-content" style="display: none">
						<h1 style="font-size:100px; z-index: 2; position: relative">
							<span style="color: #00d">{"\\(\\mathop{\\mathbb{E}}\\)"}</span>{"\\(\\mathbf{xploration}\\) "}<span style="color: #d00">{"\\(\\mathcal{L}\\)"}</span>{"\\(\\mathbf{ab}\\)"}
						</h1>
						<div>
							<img style="z-index: 2; position: relative" src="img/logo3.png" width="200px">
						</div>
						<div>
							<h3 style="z-index: 1; position: relative; background-color: white; padding: 8px 2px; font-weight:300; margin-bottom: 8ch">Exploring nature through data</h3>
						</div>
						<a style="z-index: 1; position: relative" type="button" class="btn btn-lg" href="/about"><img style="width: 4ch" src="/img/about.png"><br>About</a>
						<a style="z-index: 1; position: relative" type="button" class="btn btn-lg" href="/research-areas"><img style="width: 4ch" src="/img/testtube.png"><br>Research</a>
						<a style="z-index: 1; position: relative" type="button" class="btn btn-lg" href="/news"><img style="width: 4ch" src="/img/news.png"><br>News</a>
						<a style="z-index: 1; position: relative" type="button" class="btn btn-lg" href="/explorers"><img style="width: 4ch" src="/img/team.png"><br>Explorers</a>
						<a style="z-index: 1; position: relative" type="button" class="btn btn-lg" href="/openings"><img style="width: 4ch" src="/img/openings.png"><br>Openings</a>
						<a style="z-index: 1; position: relative" type="button" class="btn btn-lg" href="/contact"><img style="width: 4ch" src="/img/contact.png"><br>Contact</a>
					</div>
				</div>
			</div>
		</div>
		<Particles />
	</body>
</html>
