---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Navbar from '../components/Navbar.astro';

// Constants
const { title = 'Openings' } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead />
	</head>
	<body>
		<Navbar active="openings" />
        <div class="custom-container">

            <h1>{title}</h1>
        </div>
	</body>
</html>
