---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
// Constants
const { title = 'Openings' } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead />
	</head>
	<body>
		<Navbar active="openings" />
        <div class="custom-container">

            <h1>{title}</h1>
			<p> Coming soon...... </p>
        </div>
		<Footer />
	</body>
</html>
