---
// imports
import 'bootstrap/dist/css/bootstrap.css'
import '../scss/global.scss'
// constants
const { title = 'Exploration-Lab' } = Astro.props;
---

<meta charset="utf-8" />
<link rel="icon" href="/img/logo_small.png" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<!-- <link rel="stylesheet" type="text/css" href="/_astro/src/scss/global.css"> -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap" rel="stylesheet">