---
// imports
import "bootstrap/dist/css/bootstrap.min.css";
import '../scss/global.scss'
// constants
const { title = 'Exploration-Lab' } = Astro.props;
---

<meta charset="utf-8" />
<link rel="icon" href="/img/logo_small.png" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap" rel="stylesheet">
<script is:inline src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>