#particles-js {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    .particles-js-canvas-el {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    #particles {
        padding: 0px 0px;
        margin: auto;
        text-align: center;
    }
}

#mainNav {
    background-color: white;
}

// Source mixin
@mixin make-container() {
    width: 100%;
    padding: 0px 0.75rem;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: 720px) {
        width: 50%
    }
}

// Usage
.custom-container {
    @include make-container();
}
  