#particles-js {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    .particles-js-canvas-el {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    #particles {
        padding: 0px 0px;
        margin: auto;
        text-align: center;
    }
}

#mainNav {
    background-color: white;
}